.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cards {
    width: 80%;
    display: grid;
    grid-template-areas: 'current events' 'create create';
    grid-gap: 1em;
}

